<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.linguasyne">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/linguasyne_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/linguasyne_logo_shadow"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinguaSyne">

        <activity android:name=".activities.VocabSearchActivity" />
        <activity
            android:name=".activities.DisplayTermActivity"
            android:parentActivityName=".activities.StartActivity" />

        <activity android:name=".activities.StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activities.ReviseTermActivity"
            android:parentActivityName=".activities.StartActivity" />

        <activity android:name=".activities.RevisionSummaryActivity"
            android:parentActivityName=".activities.DisplayTermActivity" />

        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateAccountActivity" />
    </application>

</manifest>